#testimonial{
    background: url('../images/testimonial_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    .header{
        padding: 50px 0;
    }
    .test_bg{
        .test_item{
            background: #fff;
            padding: 50px;
            clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
            border-radius: 20px 20px 120px 120px;
            -webkit-border-radius: 20px 20px 120px 120px;
            -moz-border-radius: 20px 20px 120px 120px;
            -ms-border-radius: 20px 20px 120px 120px;
            -o-border-radius: 20px 20px 120px 120px;
            position: relative;
            margin: 0 20px;
            .test_img{
                margin-right: 40px;
                position: relative;
                z-index: 2;
                &::before{
                    position: absolute;
                    content: '';
                    top: 32%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 110px;
                    height: 110px;
                    text-align: center;
                    line-height: 110px;
                    background:  #DCDDDF;
                    z-index: -1;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                }
            }
            .test_text{
               p{
                color: #676666;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
               }
               .test_info{
                   h3{
                    color: #676666;
                    font-size: 20px;
                    font-weight: 900;
                    text-transform: capitalize;
                   }
                   span{
                    color: #676666;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: capitalize;
                   }
               }
            } 
           i{
                position: absolute;
                bottom: 21%;
                right: 15%;
                font-size: 42px;
                color: #f04336;
                line-height: 1;
                z-index: -1;
            }
        }
    }
}